<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>T2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>a</servlet-name>
  	<servlet-class>com.test.T2</servlet-class>
  	<init-param><param-name>pujess</param-name><param-value>内容</param-value></init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>a</servlet-name>
  	<url-pattern>/ddd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>c</servlet-name>
  	<servlet-class>com.test.T2_tAn</servlet-class>
  	<init-param><param-name>参数2</param-name><param-value>成功2</param-value></init-param>
  </servlet>
</web-app>